<!-- Botão flutuante -->
<div class="chat-widget" [class.open]="isOpen">
  <div class="chat-header" (click)="toggleChat()">
    <!--h3>Chat</!--h3-->
    <i class="fas" [ngClass]="!isOpen ? 'fa-paper-plane' : 'fa-close'"></i>
  </div>

  <div class="chat-content">
    <div class="no-chat">
      <p>Você não tem um fisioterapeuta associado.</p>
      <p>Entre em contato com o administrador.</p>
    </div>

    <ng-container>
      <div class="chat-info">
        <p>Conversando com seu fisioterapeuta</p>
      </div>

      <div class="messages" #messagesContainer>



      </div>

      <form [formGroup]="form" (ngSubmit)="sendMessage()" class="message-form">
        <input type="text" formControlName="mensagem" placeholder="Digite sua mensagem..."
          (keyup.enter)="sendMessage()">
        <button type="submit" [disabled]="!form.value.mensagem?.trim()">
          <i class="fas fa-paper-plane"></i>
        </button>
      </form>
    </ng-container>
  </div>
</div>