<div class="card mb-5">
  <div class="card-body">
    <div class="filtros-container">
      <h3 class="d-flex justify-content-between " (click)="isCollapsed = !isCollapsed">
        <span>Filtros</span>
        <span class="">
          <i class="bi" [class.bi-chevron-up]="!isCollapsed" [class.bi-chevron-down]="isCollapsed"></i>
        </span>
      </h3>
      <div [ngbCollapse]="isCollapsed">
        <div class="form-group d-flex gap-2">
          <input type="text" placeholder="Nome do Utente">
          <input type="text" placeholder="Nome da Sessão">
          <input type="text" placeholder="Local">
          <input type="text" placeholder="Data">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th>Utente</th>
            <th>Sessão</th>
            <th>Data</th>
            <th>Duração</th>
            <th>Local</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sessao of sessoes">
            <td>{{sessao.nomeUtente}}</td>
            <td>{{sessao.titulo}}</td>
            <td>{{sessao.dataInicio | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{sessao.duracao}} min</td>
            <td>{{sessao.local}}</td>
            <td class="d-flex gap-2">
              <button class="btn btn-sm btn-primary" (click)="editar.emit(sessao)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="delete.emit(sessao)">
                <i class="bi bi-trash"></i>
              </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>