<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <h2>Iniciar Sessão</h2>

        <div class="form-group">
            <label for="email">Nome de Utilizador</label>
            <input id="username" type="text" formControlName="username" placeholder="Insira o nome de utilizador">
            <div class="error-message" *ngIf="loginForm.get('username')?.errors?.['required']?.touched">
                O nome de utilizador é obrigatório
            </div>

        </div>

        <div class="form-group">
            <label for="password">Palavra-passe</label>
            <input id="password" type="password" formControlName="password" placeholder="Insira a sua palavra-passe">
            <div class="error-message"
                *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
                A palavra-passe é obrigatória
            </div>
        </div>

        <div class="error-message" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>

        <button type="submit" [disabled]="!loginForm.valid">Entrar</button>
    </form>
</div>
 