<div class="modal-header">
  <h4 class="modal-title">Confirmar </h4>
  <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <p>Tem certeza que deseja excluir a notícia "{{news?.title}}"?</p>
  <p class="text-danger">Esta ação não pode ser desfeita.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancelar</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close(true)">Confirmar </button>
</div> 