<!-- Lista de Notificações -->
<app-search-results [title]="'Notificações'" [subtitle]="'Gestão das notificações do sistema'"
    [newButtonLabel]="'Nova Notificação'" [newButtonIcon]="'fas fa-plus'" [btnClass]="'btn btn-primary'"
    [canCreate]="true" [filterFields]="filterFields" [tableHeaders]="tableHeaders" [data]="notificacoes"
    [loading]="loading" [availableActions]="['view', 'read', 'delete']" [checkReadRow]="true" [readField]="'read'"
    (onNew)="navigateToCreate()" (onDelete)="openDeleteModal($event)" (onRead)="toggleReadStatus($event)"
    (onView)="openView($event)">

    <ng-template #customCell let-value let-item="item" let-column="column">
        <ng-container *ngIf="column.key === 'read'">
            {{ item.read ? 'Lida' : 'Não Lida' }}
        </ng-container>

        <ng-container *ngIf="column.key === 'message'">
            <span title="{{ item.message }}"> {{ item.message.length > 50 ? (item.message | slice:0:50) + '...' :
                item.message }}</span>
        </ng-container>

        <ng-container *ngIf="column.key === 'createdAt'">
            {{ item.createdAt | date:'dd/MM/yyyy HH:mm' }}
        </ng-container>

    </ng-template>
</app-search-results>