<div class="page-container">
    <app-search-results [title]="'Planos'" [subtitle]="'Gestão de planos'" [canCreate]="canCreatePlano"
        [newButtonLabel]=" 'Novo Plano' " [btnClass]="'btn btn-primary w-100'" [newButtonIcon]="'fas fa-plus'"
        [filterFields]="filterFields" [tableHeaders]="headers" [data]="planos" [loading]="loading" (onNew)="handleNew()"
        (onFilter)="handleFilter($event)" (onClear)="handleClear()" (onPlay)="handlePlay($event)" (onEdit)="handleEdit($event)"
        (onDelete)="handleDelete($event)" (onView)="handleView($event)" [availableActions]="availableActions">

        <ng-template #customCell let-value let-item="item" let-column="column">

            <ng-container *ngIf="column.key === 'user'">
                {{ item.user.fullName }}
            </ng-container>

            <ng-container *ngIf="column.key === 'creationDate'">
                {{ item.creationDate | date:'yyyy/MM/dd HH:mm' }}
            </ng-container>

            <ng-container *ngIf="column.key === 'validityDate'">
                {{ item.validityDate | date:'yyyy/MM/dd HH:mm' }}
            </ng-container>

            <ng-container *ngIf="column.key === 'enabled'">
                {{ item.enabled ? 'Ativo' : 'Inativo' }}
            </ng-container>


        </ng-template>
    </app-search-results>
</div>