<header class="header">
  <!-- Lado esquerdo -->
  <div class="header-left">
    <img src="assets/images/favicon.ico" alt="Logo" class="logo">
  </div>

  <!-- Lado direito -->
  <div class="header-right">
    <!-- Ícone de notificações com badge -->
    <div class="notifications" [routerLink]="['/notificacoes']">
      <i class="fas fa-bell"></i>
      <span class="badge" *ngIf="unreadCount > 0">{{unreadCount}}</span>
    </div>

    <!-- Informações do utilizador -->
    <div class="user-info">
      <!-- <img src="assets/images/favicon.ico" alt="User" class="user-avatar"> -->
      <i class="fas fa-user  "></i>
      <span class="user-name">{{ fullName }}</span>
    </div>

    <!-- Botão de logout -->
    <div class="logout" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
      <span>Logout</span>
    </div>
  </div>
</header>