<app-search-results [title]="'Gravações'" [subtitle]="'Gestão das gravações do sistema'"
  [newButtonLabel]="'Nova Gravação'" [btnClass]="'btn btn-primary w-100'" [newButtonIcon]="'fas fa-plus'"
  [tableHeaders]="headers" [data]="videos" [loading]="loading" (onNew)="handleNew()" (onClear)="handleClear()"
  [actions]="true" (onDelete)="handleDelete($event)" (onPlay)="handlePlay($event)">

  <ng-template #customCell let-value let-item="item" let-column="column">

    <ng-container *ngIf="column.key === 'duration'">
      <span>{{item.duration}} s</span>
    </ng-container>

    <ng-container *ngIf="column.key === 'size'">
      <span>{{item.size | number:'1.2-2'}} MB</span>
    </ng-container>


  </ng-template>
</app-search-results>