<app-search-results [title]="'Gravações'" [subtitle]="'Gestão das gravações do sistema'"
  [newButtonLabel]="'Nova Gravação'" [btnClass]="'btn btn-primary w-100'" [newButtonIcon]="'fas fa-plus'"
  [tableHeaders]="headers" [data]="videos" [loading]="loading" (onNew)="handleNew()" [availableActions]="['view', 'edit', 'delete', 'play', 'create', 'update']"
  (onDelete)="handleDelete($event)" (onPlay)="handlePlay($event)" [perfil]="perfil">

  <ng-template #customCell let-value let-item="item" let-column="column">

    <ng-container *ngIf="column.key === 'duration'">
      <span>{{item.duration}} s</span>
    </ng-container>

    <ng-container *ngIf="column.key === 'size'">
      <span>{{item.size | number:'1.2-2'}} MB</span>
    </ng-container>


    <ng-container *ngIf="column.key === 'timestamp'">
      <span>{{item.timestamp | date:'yyyy/MM/dd HH:mm:ss'}}</span>
    </ng-container>

  </ng-template>
</app-search-results>